*{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
.header1{
    flex: 3;
    text-align: left;
    padding: 10px;
}
.logo{
    flex: 4;
}
.search-container{
    flex: 4;
    padding-top: 20px;
}
.header2{
    flex: 5;
    text-align: center;
    padding: 10px;
}
.header3{
    flex: 2;
    text-align: right;
    padding: 10px;
}
main{
    display: flex;
}
.s1{
    flex: 1;
    position: sticky;
}
details{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
details:hover{
    background-color: rgba(107,247,0,0.918);

}
summary{
    text-decoration: dashed underline;
}
summary:hover{
    color: rgb(13,242,204);
}
.s2{
    flex: 3;
    border: 5px solid rgb(235,0,0);
}
#img1{
    height: 300px;
    width: 300px;
    place-items: center;
    display: block;
    margin:  0 auto;
}
.s3{
    flex: 1;
    border: 5px solid wheat;
    background: radial-gradient(circle,red,green);
}

